{% extends "temp.html" %} 
{% load static %}

<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
{% block frontjs %}
{% endblock %}

{% block title %} FlopFarm | Dashboard {% endblock %}
{% block side_navi %}
<!-- Sidebar Menu -->
<nav class="mt-2">
  <ul
    class="nav nav-pills nav-sidebar flex-column"
    data-widget="treeview"
    role="menu"
    data-accordion="false"
  >
    <!-- Add icons to the links using the .nav-icon class
            with font-awesome or any other icon font library -->
    <li class="nav-item">
      <a href="{% url 'dashboard' %}" class="nav-link active">
        <i class="nav-icon fas fa-tachometer-alt"></i>
        <p>Dashboard&#128640;</p>
      </a>
    </li>
    <li class="nav-item menu-open">
      <a href="edge.html" class="nav-link">
        <i class="far fa-circle nav-icon"></i>
        <p>
          Edge
          <i class="right fas fa-angle-left"></i>
        </p>
      </a>
      <ul class="nav nav-treeview">
        <li class="nav-item">
          <a href="{% url 'idle_instance' %}" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Idle Instance</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'running_instance' %}" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Running Instance</p>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item menu-open">
      <a href="{% url 'market' %}" class="nav-link">
        <i class="far fa-circle nav-icon"></i>
        <p>
          User
          <i class="right fas fa-angle-left"></i>
        </p>
      </a>
      <ul class="nav nav-treeview">
        <li class="nav-item">
          <a href="{% url 'market' %}" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Market</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'purchased' %}" class="nav-link">
            <i class="far fa-circle nav-icon"></i>
            <p>Purchased</p>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
<!-- /.sidebar-menu -->
{% endblock %}

{% block content %}
<div class="content-header">
  <h1>Dashboard &#128640;</h1>
</div>
<div class="row">

  <div class="col-lg-5">
    <div class="card">
      <div class="card-header border-0">
        <div class="d-flex justify-content-between">
          <h2 class="m-0">Market</h2>
          <a href="{% url 'market' %}">See more</a>
        </div>
      </div>
      <div class="card-body">
        <div class="d-flex">
        </div>



    <!-- /.card -->

    <div class="card">
      <div class="card-header border-0">
        <div class="card-tools">
        </div>
      </div>
      <div class="card-body table-responsive p-0">
        <table class="table table-striped table-valign-middle">
          <thead>
          <tr>
            <th>Instance</th>
            <th>Price</th>
            <th>status</th>
          </tr>
          </thead>
          <tbody>
            {% for ins in instance %}
            <tr>
              <td>{{ ins.name }}</td>
              <td>          {% if ins.type == "d" %}
                <p style="color: indianred; font-size: 15px">
                  {{ ins.API_price }} ETH/access
                </p>
                {% elif ins.type == "c" %}
                <p style="color: indianred; font-size: 15px">
                  {{ ins.hourly_price }} ETH/hour
                </p>
                {% endif %}</td>
              
            <td>{% if ins.status == "i" %}
              idle
                {% elif ins.status == "r" %}
                running
                  {% endif %}
                </td>

          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      
    </div>
    </div>
    </div>
    </div>

    <div class="col-lg-5">
    <div class="card">
      <div class="card-header border-0">
        <div class="d-flex justify-content-between">
          <h2 class="m-0">User</h2>
          <a href="javascript:void(0);">See more</a>
        </div>
      </div>
      <div class="card-body">
        <div class="d-flex">
        </div>

        <div class="small-box bg-info">
          <div class="inner">
              <p onclick="RefreshBalance()">RefreshBalance()</p>
          </div>
            <div class="icon">
              <i class="fas fa-shopping-cart"></i>
          </div>
        <a class="small-box-footer" onclick="Deposit()">Deposit</a>
        </div>



      </div>

    </div>

  </div>
  <!-- /.col-md-6 -->

</div>
<!-- /.row -->
{% endblock %}