{% extends "temp.html" %}

{% load static %}

{% block frontjs %}
<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
{% endblock %}

{% block title %}
FlopFarm | Market
{% endblock %}

{% block side_navi %}
  <!-- Sidebar Menu -->
  <nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      <!-- Add icons to the links using the .nav-icon class
            with font-awesome or any other icon font library -->
      <li class="nav-item">
        <a href="{% url 'dashboard' %}" class="nav-link">
          <i class="nav-icon fas fa-tachometer-alt"></i>
          <p>Dashboard&#128640;</p>
        </a>
      </li>
      <li class="nav-item menu-open">
        <a href="edge.html" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>
            Edge
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="edge.html" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Idle Instance</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="edge.html" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Running Instance</p>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item menu-open">
        <a href="user.html" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>
            User
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="{% url 'market' %}" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Market</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="user.html" class="nav-link active">
              <i class="far fa-circle nav-icon"></i>
              <p>Purchased</p>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <!-- /.sidebar-menu -->
{% endblock %}


{% block content %}
  <!-- =========================================================== -->
  <div class="content-header">
    <h1>Market</h1>
  </div>
  <div class="row" id = "Ava_ins">

  <!-- =========================================================== -->
  <h5 class="mb-2">Available Instances on FlopFarm</h5>
  <div class="col-md-5"></div>

  {% for ins in instance %}
    <div class="col-md-5">
      {% if ins.type == "d" %}
      <div class="card card-success shadow-lg collapsed-card"> <!--Change color here: default, primary, secondary, success, info, danger, warning-->
      {% elif ins.type == "c" %}
      <div class="card card-primary shadow-lg collapsed-card"> <!--Change color here: default, primary, secondary, success, info, danger, warning-->
      {% endif %}
        <div class="card-header">
          <h3 class="card-title">{{ ins.name }}</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i></button>
          </div>
          <!-- /.card-tools -->
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <p style="color:lightseagreen;">{{ ins.get_type_display }}</p>

          {% if ins.type == "d" %}
          <li>{{ ins.APIinfo }}</li>
          {% elif ins.type == "c" %}
          <li>OS: {{ ins.OS }}</li>
          <li>CPU: {{ ins.CPU }}</li>
          <li>GPU: {{ ins.GPU }}</li>
          <li>RAM: {{ ins.RAM }}</li>
          {% endif %}

          <li>Remarks: {{ ins.remarks }}</li>
          <p></p>

          {% if ins.type == "d" %}
          <p style="color: indianred; font-size: 25px;">{{ ins.API_price }} ETH/access</p>
          {% elif ins.type == "c" %}
          <p style="color: indianred; font-size: 25px;">{{ ins.hourly_price }} ETH/hour</p>
          {% endif %}

          <div class="card card-general">
            <div class="card-header">
              <h3 class="card-title">Place an order</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form>
              <div class="card-body">

              {% if ins.type == "d" %}
                <p>You need to pay</p>
                <p style="color: indianred; font-size: 25px;">0.1 ETH</p>
              {% elif ins.type == "c" %}
                <div class="form-group">
                  <label >Use time (hour)</label>
                  <input id = "ExpT{{ ins.id }}" type="number" class="form-control" placeholder="Enter expected use time (in hour)">
                </div>
                <p>You need to pay</p>
                <p id = "pay{{ ins.id }}" style="color: indianred; font-size: 25px;">0 ETH</p>

                <script>
                  $(document).ready(function(){
                    $("#ExpT{{ ins.id }}").change(function(){
                      console.log("Change!");
                      t = $("#ExpT{{ ins.id }}").val();
                      pay = {{ ins.hourly_price }} * t;
                      pay = pay.toString();
                      $("#pay{{ ins.id }}").text(pay + " ETH");
                    });
                  });
                </script>
              {% endif %}

                <div class="card-footer">
                  <button type="submit" class="btn btn-success">Buy</button>
                </div>

              </div>
            </form>
            
          </div>
          <!-- /.card -->

        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  {% endfor %}

{% endblock %}

{% block js %}
{% endblock %}