<!--
 * @Author: your name
 * @Date: 2021-04-30 01:11:01
 * @LastEditTime: 2021-05-02 16:31:35
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: /FlopFarmDjango/flopfarm/flopfarm_admin/templates/purchased.html
-->
{% extends "temp.html" %}

{% load static %}

{% block frontjs %}
{% endblock %}

{% block title %}
FlopFarm | Purchased
{% endblock %}

{% block side_navi %}
  <!-- Sidebar Menu -->
  <nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      <!-- Add icons to the links using the .nav-icon class
            with font-awesome or any other icon font library -->
      <li class="nav-item">
        <a href="{% url 'dashboard' %}" class="nav-link">
          <i class="nav-icon fas fa-tachometer-alt"></i>
          <p>Dashboard&#128640;</p>
        </a>
      </li>
      <li class="nav-item menu-open">
        <a href="edge.html" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>
            Edge
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="edge.html" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Idle Instance</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="edge.html" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Running Instance</p>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item menu-open">
        <a href="user.html" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>
            User
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="{% url 'market' %}" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Market</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="user.html" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Purchased</p>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <!-- /.sidebar-menu -->
{% endblock %}


{% block content %}
{% endblock %}

{% block js %}
{% endblock %}